*{
    margin: 0;
    padding: 0;
    
}

    /* Navbar component styling  */
.NavBar{
    display: flex;
    justify-content: space-between;
    background-color: #2C3E50;
    color: white;
    padding: 33px 105px;
    position:sticky;
    top: 0;
}
.rightnav{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* Strat boot strap content desing  */
.StartBootStrap{
   background-color: rgb(26,188,156);
   color: white;
   /* height: 85vh; */
}
.start-boot-container{
    margin: 0px 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

#start-img{
    width: 250px;
}
.line-star{
    display: flex;
    align-items: center;
    gap: 10px;
}
.line{

    background-color: white;
    padding: 2px 3px;
    width: 91px;
    border-radius: 6px;
}

/* Styling portfolio section  */
.Portfolio h1{
    text-align: center;
    margin-top: 80px;
}
.portfolio-container{
    display: flex;
    flex-flow: row wrap;
    width: 79%;
    margin: auto;
    row-gap: 28px;
    column-gap: 30px;
}
.portfolio-items img{
    width: 340px;
    border-radius: 10px;
}
.port-line-star{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.port-line{

    background-color: black;
    padding: 2px 3px;
    width: 91px;
    border-radius: 6px;
}


/* About component styling  */

.AboutComponent{
    background-color: rgb(26,188,156);
    padding: 30px 0px;
    margin: 70px 0px;
}
.about-content-container{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 30px;
}
.about-content-container div{
    width: 400px;
    color: white;
}
.about-content-container div p{
    line-height: 24px;
    word-spacing: 3px;
    font-size: 18px;
}
.AboutComponent h1{
    text-align: center;
    color: white;
}
.about-line-star{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}
.about-line{
    background-color: white;
    padding: 2px 3px;
    width: 91px;
    border-radius: 6px;
}
.about-download-button{
        text-align: center;
        width: 188px;
        margin: 20px 45%;
        border: 2px solid white;
        background-color:  rgb(26,188,156);
        border-radius: 5px;
        padding: 4px 10px;
        color: white;
        display: flex;
        align-items: center;
        gap: 20px;
}

/* Contact container styling  */
.ContactContainer h1{
 text-align: center;
}

.contact-input-container{
    display: flex;
    flex-flow: column wrap;
    width: 65%;
    margin: auto;
}
.contact-input-container input{
    border: none;
    border-bottom: 1px solid #CFD5DA;
    padding-bottom: 10px;
}
.contact-input-container label{
    color: #6C747C;
    margin-top: 15px;
    font-size: 19px;
}
#message-input{
    padding-top: 70px;
}
